<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }

      arc:hover, chr:hover {
        color: var(--clr-a-text-hvr);
      }

      .arc {
        margin-left: 3px;
        font-size: 14.5px;
      }

      .chr {
        font-size: 14.5px;
      }


    </style>
    <ul class="link" style="margin-bottom: 15px;">
      <li><a href="https://github.com/hanseul-Choi"><i class="fa-brands fa-github"></i> GitHub</a></li>
        </br>
      <a class="arc" href="/archive/archive_main.html">archive</a> <a style="font-size: 13px">/</a> <a class="chr" href="/chronology/chronology_main.html">chronology</a>
    </ul>
  </div>